<div class=" row" style="width: 100%;">
    <nav class="menuLateral mt-3 col-3">
      <!-- <div>
          <app-logo></app-logo>
        </div> -->
        <h1 style="/* text-align: center; *//* padding-top: 12px; */margin-left: 13px;">Ecommerce</h1>
      <div class="contenidoNav" style="margin-left: 12px;">
        <div class="card mb-3 cardPerfil">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="https://cdn-icons-png.flaticon.com/512/6073/6073874.png" class="img-fluid rounded-start pt-2 pl-5 "
                alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Usuario:<span id="userName">{{user.first_name}}</span></h5>
                <p class="card-text mb-0">Rol: {{user.rol}}</p>
                <p class="card-text mb-0">Email: <span id="userEmail">{{user.email}}</p>
                {{!-- <p class="card-text mb-0">Edad: <span id="userEmail">{{user.age}}</p> --}}
                
                
              </div>
              
            </div>
          </div>
          <p class="card-text mb-0 ml-5" style="padding-left: 7px;"><small id="userId">UserId:<br/> {{user.id}}</small></p>
          <div class="row mb-2">
            <p class="card-text mb-0 col-8 " style="padding-left: 19px;" ><small id="cardId">CartId: <br/> {{user.idCart}}</small></p>
            <button id="btnCarritoUsu" class="btn btn-info col-3" onclick="goToCart()">Ir al Carrito</button>
          </div>
          
          
          <button id="btnCerrarSesion" class="btn btn-danger">Cerrar Sesión</button>
        </div>
          <button type="button" onclick="goToChat()" class="btn pmd-btn-fab pmd-ripple-effect btn-outline-info col">IR AL CHAT</button>
      </div>
      <div class="paginas">
        {{!-- <app-listado-paginas></app-listado-paginas> --}}
      </div>
  </nav>
  <div class="container col-9">
      <div class="row">
          <h2 style="text-align: center; padding-top: 23px;">Lista de productos</h2>
          <button class="btn btn-success m-1 col-3" onclick="agregarProducto()">Agregar Producto</button>
          <div class="col-7">
            <div class="row">
              <select class="col-3 form-select m-1" aria-label="Default select example" id="numProductsByPage">
                  <option selected >Numero de productos por pagina : </option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option  value="3">3</option>
                  <option  value="4">4</option>
                  <option  value="5">5</option>
                  <option  value="predeterminado">Predeterminado</option>
              </select>
              <select id="ordenProducts" class="form-select col m-1" aria-label="Default select example">
                  <option selected >Ordenar:</option>
                  <option value="asc">Ascendente</option>
                  <option value="desc">Descendente</option>
                  <option  value="ninguno">Ninguno</option>
              </select>
               {{!-- <div class="w-100 d-none d-md-block"></div> --}}
              <select class="form-select col m-1 " id="buscarPorListaProductos" aria-label="Default select example">
              </select>
              <button class="btn btn-secondary m-1 col" onclick="aplicarFiltro()" > Aplicar Filtro</button>
            </div>
          </div>
      </div>
      <div id="listaProductos" class="row" style="justify-content: center;" >
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center" id="botones">
              
      </div>
  </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>